<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	 <http:listener-config name="ms3-contact-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${prc-contact.http.port}" />
    </http:listener-config>
    <apikit:config name="ms3-contact-api-config" api="resource::ad35be17-085e-4638-bb96-922d9e00b70d:ms3-contact-api:1.0.9:raml:zip:ms3-contact-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="5c561593-4511-47a2-b5b8-01ca4d7abc8a" basePath="${sys-contact.http.basepath}" responseTimeout="#[1000]">
        <http:request-connection host="${sys-contact.http.host}" port="${sys-contact.http.port}" />
    </http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="f87a9b34-a5fb-41e5-bb6f-fdb2b492e191" file="configuration.yaml" />
</mule>
